input, textarea
			{
				font-family:"Times New Roman", Times, serif; /* On modifie la police du texte tapé l'intérieur des champs */
			}

			input:focus, textarea:focus /* Quand le curseur est sur un champ (ne marche pas sur IE) */
			{
				background-color:#FFFF99;
			}

			label
			{
				color:blue; /* Colorer en bleu tous les labels (bah oui, pourquoi pas en bleu ?) */
			}

			legend /* On met un peu plus en valeur les titres des fieldset */
			{
				font-family:Arial, "Arial Black", Georgia, "Times New Roman", Times, serif;
				color:#FF9933;
				font-weight:bold;
			}

			fieldset
			{
				margin-bottom:15px; /* Une marge pour séparer les fieldset */
				background-color:#FFFFCC;
			}	