h1 {background-color: yellow;
    color:blue;
	font-family:verdana;}
	
	
.bis
{background-color: green;
    color:yellow;
	font-family:comic;}
	
	
.ter{
	background-color : orange;
}
	
	
	
figcaption{display : none;}